body {
  background-color: ;
}

form {
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-right: 50px;
}

#messages {
  list-style-type: none;
  margin: 20px;
  padding: 0;
  /* border: 2px solid red; */
  color: white;
}

#messages li {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #90C2E7;
  border-radius: 25px 25px 25px 25px;
}

#messages li:nth-child(odd) {
  /* background: #eee; */
}
